*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jura", sans-serif;
  font-size: 10px;
}

.wrapper {
  background-color: #d0faf5;
  min-width: 280px;
}

.page-box {
  width: 100vw;
  height: 100vh;
}

.text-header {
  font-size: 9rem;
  line-height: 8rem;
}

.text-explain {
  font-size: 3rem;
  line-height: 3rem;
}

.text-title {
  font-size: 5rem;
  line-height: 5rem;
  text-align: center;
}

.text-explain__mark {
  background: linear-gradient(transparent calc(100% - 1.2rem), #95e4db 0.4em);
}

.text-header__mark {
  font-weight: 400;
  color: #ffffff;
  background: #d0faf5;
  text-shadow: 0 0 10px #95e4db;
  color: #ffffff;
  background: #d0faf5;
}

/* hi page  */

.hi {
  position: relative;
  background-image: url(img/unicorn.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.hi-text {
  position: absolute;
  bottom: 3rem;
  right: 0;
  width: 40%;
  text-align: right;
}

/* material stuff  */

.cards-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-box {
  height: 300px;
  width: 200px;
  border: 1px solid #000;
  margin: 2rem;
}

/* people  */

.buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-box {
  height: 300px;
  width: 200px;
  border: 1px solid #000;
  margin: 2rem;
}
